mat-card{
    height: 500px;
}
mat-form-field{
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
    height: 50px;
}
button{
    margin-left: 20px;
}

button:hover{
    background-color: rgb(208, 175, 255);
}

