.content{
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

a{
    text-decoration: none;
}


.content-cards{
    margin-left: 50px;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.card{
    transition: 2s;
    height: 226px; 
    border-radius: 4px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.813);
    margin-top: 50px;
    vertical-align: middle;
    overflow: hidden;
}

h4{
    font-size: 1.3rem;
    color: white;
}

.preço{
    color: red;
    font-weight: 600;
    margin-left: 10px;
}

img{
    margin: 0;
    padding: 0;
    max-width: 400px;
}


.card-body{
    width: 248px;
    margin-left: 8px;
}

p{
    padding: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    color: white;
}

.card:hover{
    height: 400px;
    transition: 2s;
    background-color: #616160;
}

@media screen and (max-width: 700px){
    
    .card{
        background-color: rgba(255, 255, 255, 0.813);
        transition: 2s;
        height: 234px; 
        border-radius: 4px;
        margin-top: 50px;
        margin-left: 20px;
        
    }  

    .content-cards{
       display: flex;
       flex-wrap: wrap;
       max-width: 256px;
       margin: 0 auto;
   }

   .card-img-top{
       max-width: 100%;
       display: block;
   }

   .content{
       display: flex;
       flex-wrap: wrap;
       max-width: 520px;
   }

}