<div class="content">
    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro1.jpg" alt="Card image cap">
                <p class="preço">24.900R$</p>
                <div class="card-body">
                    <h4 class="card-title">Gol 1.0 mi total flex g5 2011</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro3.jpg" alt="Card image cap">
                <p class="preço">120.000R$</p>
                <div class="card-body">
                    <h4 class="card-title">Pick-up Strada Volcano 2022</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>

        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro2.jpg" alt="Card image cap">
                <p class="preço">226.000R$</p>
                <div class="card-body">
                    <h4 class="card-title">Frontir 2020/2020 2.3 16V Turbo Diesel LE CD 4X4 Automático</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>



    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro3.jpg" alt="Card image cap">
                <p class="preço">120.000R$</p>
                <div class="card-body">
                    <h4 class="card-title">Pick-up Strada Volcano 2022</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>

        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro6.jpg" alt="Card image cap">
                <p class="preço">21.900R$</p>
                <div class="card-body">
                    <h4 class="card-title">Ford Focus 1.6 2004/2004</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>


    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro4.jpg" alt="Card image cap">
                <p class="preço">69.900R$</p>
                <div class="card-body">
                    <h4 class="card-title">hb20S automático Premium</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>


    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro5.jpg" alt="Card image cap">
                <p class="preço">100.200R$</p>
                <div class="card-body">
                    <h4 class="card-title">Toro Endurance 2020</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro6.jpg" alt="Card image cap">
                <p class="preço">21.900R$</p>
                <div class="card-body">
                    <h4 class="card-title">Ford Focus 1.6 2004/2004</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro7.jpg" alt="Card image cap">
                <p class="preço">34.500R$</p>
                <div class="card-body">
                    <h4 class="card-title">Saveiro 12/13 completa </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro8.jpg" alt="Card image cap">
                <p class="preço">82.000R$</p>
                <div class="card-body">
                    <h4 class="card-title">Polo Highline</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro9.jpg" alt="Card image cap">
                <p class="preço">79.000R$</p>
                <div class="card-body">
                    <h4 class="card-title">Polo Confortline 200 TSI 2020/2021</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro2.jpg" alt="Card image cap">
                <p class="preço">226.000R$</p>
                <div class="card-body">
                    <h4 class="card-title">Frontir 2020/2020 2.3 16V Turbo Diesel LE CD 4X4 Automático</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro10.jpg" alt="Card image cap">
                <p class="preço">48.990R$</p>
                <div class="card-body">
                    <h4 class="card-title">Citroen Aircross Exclusive 1.6 2015</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro8.jpg" alt="Card image cap">
                <p class="preço">82.000R$</p>
                <div class="card-body">
                    <h4 class="card-title">Polo Highline</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="content-cards">
            <div class="card mat-elevation-z6">
                <img class="card-img-top" src="assets/img/carro9.jpg" alt="Card image cap">
                <p class="preço">79.000R$</p>
                <div class="card-body">
                    <h4 class="card-title">Polo Confortline 200 TSI 2020/2021</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        </div>
    </a>
</div>